############################
# Build / Maven
############################
target/
*.log

############################
# JTE generated templates
############################
jte-classes/

############################
# IntelliJ / IDEA
############################
.idea/
*.iml
out/

############################
# OS junk
############################
.DS_Store
Thumbs.db

############################
# Environment / secrets
############################
*.env
